body{ 
     width: 700px;
    height: 300px;
    border-radius: 50%;
    background-color:white;
    background-size:500px ;
    background-attachment: fixed;
    background-repeat:no-repeat ;
    margin-bottom: auto;
    text underline offset;
    
}
h1{
     font-style: italic;
     text-decoration-line: underline;
     text-decoration-color:black;
     ;
}